/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

body {
  font-family: sans-serif;
}

#logo a:hover {
  border-bottom: 3px solid black;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:hover {
  color: gray;
}

.bit_list {
  margin-left: 20px;
}
.bit_list_item {
  margin-bottom: 15px;
}
.bit_list_item .title {
  font-size: 1.5em;
}

.bit_content {
  width: 700px;
  margin-left: 20px;
}
.bit_title_container {
  width: 700px;
  margin-left: 20px;
  text-align: center;
}
.bit_title {
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
}

.comments {
  margin-left: 20px;
}
.comments_title {
  font-size: 1.3em;
  font-weight: bold;
  display: block;
  margin-top: 90px;
  color: #FF33CC;
  cursor: default;
}
.comments_title:hover {
  color: #CC0099;
}
.comment {
  border: 1px solid black;
  width: 400px;
  padding: 10px;
  margin-bottom: 20px;
}
.comment_name {
  font-style: italic;
}
.comment p {
  margin-top: 3px;
  margin-bottom: 3px;
}
